<div class='container'>
  <div class='row mtl pbmd border-bottom'>
    <div class='col-xs-12'>
      <h3>
        Find a channel.
      </h3>
    </div>
  </div>
  <div class='row mtl'>
    <div class='col-xs-12'>
      <ul>
        <% @channels.each do |channel| %>
          <li>
            <%= link_to "channel/#{ channel.slug }" do %>
              <div class='block fade-animate col-xs-6 col-sm-3 pbmd ptmd'>
                <div class='transition channel-container border'>
                  <div class='center'>
                    <span class='med'>
                      <%= fa_icon 'headphones', { class: 'md-icon bold mrsm'} %>
                      <%= link_to channel.name, channel_path(channel), { class: 'white-text bold' } %>
                    </span>
                    <br />
                    <div class='mvsm full-width small'>
                      <%= image_tag channel.avatar.url, { class: 'profile-image small mrsm' } %> By
                       <span class='bold'> <%= channel.user.full_name %> </span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
          <li>
            <a data-toggle='modal' data-target='#new-channel-modal' class='pointer block fade-animate col-xs-6 col-sm-3 pbmd ptmd'>
              <div class='transition green-bg channel-container border'>
                <div class='center'>
                  <span class='med bold'>
                    <%= fa_icon 'plus' %> Channel
                    <br />
                  </span>
                   <span class='small'> Create a channel </span>
                </div>
              </div>
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>
<%= render partial: 'partials/new_channel_modal' %>