<script type="template" class="template record-row-template">
  <div id="recording-track-container-{{ id }}" class='col-xs-6 col-sm-6 col-md-4 mhsm mtl pvmd block clearfix recording-track shadow panel'>
    <label class='full-width mvmd'>
      Track {{ count }}
    </label>
    <br />
    <div class='row'>
      <div class='col-xs-12'>
        <a alt='play' data-action="play" data-record-id="{{ id }}" class="mhxs btn js-record-action mvmd" id="play-btn-{{ id }}"> <%= fa_icon "play" %> </a>
        <a alt='stop' data-action="stop" class="mhxs btn js-record-action mvmd" data-record-id="{{ id }}" id="stop-btn-{{ id }}"> <%= fa_icon "stop" %> </a>
        <a alt='upload' class='mhxs mvmd btn js-record-action' data-record-id="{{ id }}" data-action='saveBuffer'> <%= fa_icon 'cloud-upload' %> </a>
        <a alt='download' class='mhxs mvmd btn js-record-action' data-record-id="{{ id }}" data-action='exportBuffer'> <%= fa_icon 'save' %> </a>
        <a alt='edit' data-action="editBuffer" class="mhxs btn js-record-action mvmd" data-record-id="{{ id }}" id="edit-btn-{{ id }}"> <%= fa_icon "edit" %> <a/>
        <a alt='delete' data-action="deleteBuffer" class="mhxs btn js-record-action mvmd" data-record-id="{{ id }}" id="delete-btn-{{ id }}"> <%= fa_icon "trash" %> <a/>
      </div>
    </div>
  </div>
</script>