<div class='container'>
  <div class='row mvl'>
    <div class='col-xs-12'>
      <h2>
        <%= fa_icon 'th-large' %> Dashboard
        <span class='pull-right'>
          <a class='btn btn-primary add-channel-btn' id='show-create-channel-form'>
            <%= fa_icon 'plus' %> Channel
          </a>
        </span>
      </h2>
    </div>
  </div>
  <div class='row mtl fade in'>
    <div class='col-xs-12 col-md-6'>
      <h3 class='border-bottom pbl'>
        Channels
      </h3>
      <div class='row mtl'>
        <div class='col-xs-12'>
          <div class='row'>
            <ul>
              <% @user.channels.each do |channel| %>
                <li class='mvl col-xs-3 col-md-4 inline-block clearfix'>
                  <div class='pbmd ptmd fade-animate'>
                   
                    <div class='transition channel-container border'>
                      <div class='center'>
                        <%= link_to channel.name, channel_path(channel), { class: 'white-text bold transition' } %>
                        <br />
                        <span class='big'>
                           <%= link_to fa_icon('headphones').html_safe, channel_path(channel), { class: 'transition white-text bold' } %>
                          <%= link_to  fa_icon('trash').html_safe, { action: :destroy, controller: 'channels', id: channel.id }, method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class: 'transition white-text bold big'  %>
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-md-6'>
      <h3 class='border-bottom pbl'>
        <%= fa_icon 'file' %> Files
      </h3>
      <div class='row mtl'>
        <div class='col-xs-12'>
          <div class='row'>
            <% if @user.clips.length != 0 %>
              <ul>
                <% @user.clips.each do |clip| %>
                 <li class='mvl col-xs-3 col-md-4 inline-block clearfix'>
                    <div class='pbmd ptmd fade-animate'>
                      <div class='transition clip-container channel-container border'>
                        <div class='center'>
                          <span class='bold full-width'>
                            <%= clip.name %>
                            <br />
                          </span>
                          <span class='big white-text'>
                            <%= link_to fa_icon('save').html_safe, clip.mp3.url, { target: '_blank', class: 'transition'} %>
                            <%= link_to fa_icon('trash').html_safe, { action: :destroy, controller: "api/clips", id: clip.id }, method: :delete, data: { remote: true, confirm: 'Are you sure you want to delete this?' }, class: 'transition' %>
                            <div>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <div class='col-xs-12'>
                No files to show.
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'partials/new_channel_modal' %>