<div class="col-lg-8 col-sm-8 col-xs-12">
  <div class='hidden-xs visible-lg-block'>
    <%= inline_svg('spacemonkey.svg', { preserve_aspect_ratio: 'xMaxYMax meet'}) %>
  </div>
  <div class='visible-sm-block visible-md-block hidden-xs-block'>
    <%= inline_svg('spacemonkey-md.svg', { preserve_aspect_ratio: 'xMaxYMax meet'}) %>
  </div>
  <div class='visible-xs-block'>
    <%= inline_svg('spacemonkey-xs.svg', { preserve_aspect_ratio: 'xMaxYMax meet'}) %>
  </div>
  <a href="/instruments">click</a>
</div>
<div class="col-lg-4 col-sm-4 col-xs-12">
  <div class="sidebar-nav">
    <div class='welcome-container mvxl'>
      <h2>Make music. Anywhere.</h2>
    </div>
    <ul class="nav nav-list mtxl">
      <% if current_user %>
        <li><%= link_to "#{ fa_icon 'plus' } Create channel".html_safe, "/instruments", { class: 'btn' }  %>
      <% else %>
        <li>
          <a type="button" class="btn" data-toggle="modal" data-target="#login-modal">
            <%= fa_icon 'plus' %> Create Channel
          </a>
        </li>
      <% end %>
      <li class='mtmd'><%= link_to "#{ fa_icon 'headphones' } Join channel".html_safe,  "/instruments", { class: 'btn' }   %>
      <li class='mtmd'><%= link_to "#{ fa_icon 'question' } About".html_safe,  "/instruments", { class: 'btn' }   %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
<%= render partial: 'partials/login' %>